* {
  letter-spacing: 0 !important;
}

h1, h2 {
  margin: 10px 0;
  line-height: 1;
}

p.subheader {
  text-align: center;
}

p {
  text-align: left;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table th {
  padding: 0.75em;
  font-weight: 700;
}
table tbody tr:not(:first-child) {
  background: transparent !important;
}

svg {
  margin: 0 auto;
}

.bar {
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.bar:hover {
  opacity: 0.8;
}

.bar-inactive {
  opacity: 0.15;
}

.d3-tip {
  line-height: 1;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip::after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 0.5;
  color: #333;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n::after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.story-container {
  max-width: 1000px;
  margin: 0 auto 100px;
  position: relative;
  top: 30px;
  transition: all 0.25s ease-in;
  display: none;
}
.story-container .year {
  font-size: 28px;
}
.story-container .grid {
  margin: 0 auto;
  width: 360px;
}
.story-container.show .grid, .story-container.show .blurb {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  text-align: left;
}
.story-container.show .grid {
  width: 360px;
  margin-right: 20px;
}
.story-container .grid .row {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  margin: 0;
}
.story-container .grid .row .img-container {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 0;
}
.story-container .grid .row img {
  width: 100%;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.story-container .grid .row.filter img.no-filter,
.story-container .grid .row.filter:hover img  {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.story-container .grid .row.filter img,
.story-container .grid .row:hover img:not(:hover),
.story-container .grid .row.filter:hover img:not(:hover) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .75;
}

.story-container .blurb {
  display: none;
}
.story-container.show .blurb {
  display: inline-block;
  margin-top: 20px;
}

.story-container .blurb .name {
  margin-top: 0;
}

#footer {
  padding: 4em;
  width: 100%;
  margin: 0 auto;
}

.creds {
  margin: 0 auto !important;
  text-align: center;
}

.title {
  position: relative;
}

#reset {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 5em;
}