body {
  font-family: 'Palanquin', sans-serif;
  text-align: center;
  padding: 0 100px;
}

svg {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.bar {
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.bar:hover {
  opacity: 0.8;
}

.d3-tip {
  line-height: 1;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip::after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 0.5;
  color: #333;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n::after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.story-container {
  max-width: 1000px;
  margin: 0 auto 100px;
  position: relative;
  top: 450px;
  transition: all 0.25s ease-in;
  display: none;
}
.story-container .grid {
  margin: 0 auto;
  width: 35%;
}
.story-container.show .grid, .story-container.show .blurb {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  text-align: left;
}
.story-container.show .grid {
  margin-right: 40px;
  width: 35%;
}
.story-container .grid .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.story-container .grid .row img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.story-container .grid .row.filter img.no-filter,
.story-container .grid .row.filter:hover img  {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.story-container .grid .row.filter img,
.story-container .grid .row:hover img:not(:hover),
.story-container .grid .row.filter:hover img:not(:hover) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .75;
}

.story-container .blurb .name {
  margin-top: 0;
}