body {
  font-family: sans-serif;
  text-align: center;
}

svg {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}

.axis .domain {
  /* display: none; */
}

.bar {
  cursor: pointer;
}

.bar:hover {
  opacity: 0.8;
}